name: Create release

on:
  push:
    tags:
      - v*

jobs:
  build:
    uses: qua-platform/quam/.github/workflows/reusable-buld.yaml@main
  release:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
          pattern: python-package-*
      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          gh release create ${{ github.ref_name }}
          --generate-notes --verify-tag --latest
          --draft
          "dist/quam-${GITHUB_REF_NAME#v}-py3-none-any.whl"
          "dist/quam-${GITHUB_REF_NAME#v}.tar.gz"
